{% extends "base.html" %}

{% block body_block %}
    <form class="form-inline" method="post" action="/">
        {% csrf_token %}
        <input class="form-control" type="text" size="88" value="" id="query" name="query" placeholder="Search YouTube">
        <input class="btn btn-primary" type="submit" name="submit" value="Search">
    </form>
    <br>
    <div id="player"></div>
    <br>

    <div class="list-group">
    {% if videos %}
        {% for video in videos %}
        <button type="button" class="list-group-item video_link" data-url="{{ video.video_id }}" >
            <div class="row">
                <div class="col-md-3">
                    <img src="https://i.ytimg.com/vi/{{video.video_id}}/mqdefault.jpg" width="150px" height="95px">
                </div>
                <div class="col-md-9">
                    <h5 class="list-group-item-heading">{{ video.title }}</h5>
                    <p class="list-group-item-text">{{ video.description }}</p>
                </div>
            </div>
        </button>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}